body {
    margin: 149px;
    font-family: 'Kode Mono', monospace;
    background: #0000aa; 
}

.avatar {
    width: 120px;
    margin-top: 20px;
    margin-left: 16px;
    border-radius: 8px;
    border: 2px solid #2b2839;
}

.card {
    width: 520px;
    height: 290px;
    margin: 40px auto;
    padding-top: 12px;
    padding-bottom: 19px;
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background: #c1dbc0;
    color: #2b2839;
    border: 3px solid #2b2839;
    border-radius: 12px;
    background-image: url("bg_card.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 0 #111, 0 12px 20px rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 0 #000, 0 16px 30px rgba(0,0,0,0.5);
    opacity: 0.95;
}

.info {
    margin-left: 17px;
    padding-top: 0px;
}

.info p {
    margin: 4px 0;
    font-size: 13px;
}

.info a {
    color: #2b2839;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}